<div>
    <form action="/meeps" method="post">
        <div class="input-group mb-3">
            <label for="meeps" class="visually-hidden">meeps</label>
            <input
                class="form-control"
                type="text"
                name="meeps"
                id="meeps"
                placeholder="Write a meeps..."
                required>
            <button class="btn btn-primary" type="submit">Add meeps</button>
        </div>
    </form>
</div>